<h1>Create a new tweet</h1>

<form action="/tweets" method="post">
  <p>
    <textarea name="content" rows="5" cols="40" autofocus maxlength="140" required></textarea>
    <br>
    <input class="btn btn-primary" type="submit" value="submit">
  </p>
</form>
