<form action="/tweets" method="POST">

  <label> <%=current_user.username=> </label><br>
  <label>Fweet: </label>
  <input id="tweet_content" value="content" type="content" name="content"><br>
  <input type="submit" value="submit">
 </form> 