<h2>Edit Tweet</h2>
<form method="post" action="/tweets/<%=@tweet.id%>">
  <input type="hidden" name="_method" value="patch">
  Content: <textarea name="content" id="content"><%=@tweet.content%></textarea><br>
  <input type="submit" value="submit">
</form>
