<%= erb :'/layouts/_header' %>

  <div class="main wrap">

    <h2>@: <%= @tweet.content %></h2>

    <a class="btn btn-default" href="/tweets/<%= @tweet.id %>/edit" role="button">Edit Tweet</a>
    <a class="btn btn-default" href="/delete" role="button">Delete Tweet</a>

  </div>

<%= erb :'/layouts/_footer' %>
