
<h1> <%= @user.username %> </h1>
<h3> Fweets: </h3>
<%= @tweet.content %>
<br>
<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>
<form action="/tweets/<%=@tweet.id%>/delete" method="post">
<input type="submit" value="Delete Tweet" id="Delete Tweet"></input>
</form>

