<%= @tweet.content %>
<form method="post" action="/tweets/<%=@tweet.id%>/delete">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" value="submit">Delete Tweet</button>
</form>


<button onclick="location.href='/tweets/<%=@tweet.id%>/edit'">Edit Tweet</button>

<button onclick="location.href='/tweets/new'">Fweet</button>

<button onclick="location.href='/tweets'">All Fweets</button>
