<h1>Tweet #<%= @tweet.id%></h1>

<h3><%= @tweet.content%></h3>

<input type="submit" value="Edit Tweet">

<form method="POST" action="/tweets/<%= @tweet.id%>/delete">
  <input type="submit" value="Delete Tweet">
</form>