<p><%= @tweet.content %></p>
Edit Tweet

<form method="post" action="/tweets/<%= @tweet.id %>/delete">
	<input id="hidden" type="hidden" name="_method" value="DELETE">
	<input type="submit" value="Delete Tweet">
</form>

