<%= @tweet.content %>
<form method="post" action="/tweets/<%=@tweet.id%>/delete">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" value="submit">Delete Tweet</button>
</form>


<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet </a>
