<h2>Welcome, <%=@user.username%></h2>
<form method="GET" action="/tweets/new">
  <input type = "submit" value = "New Tweet">
</form>
<%@tweets.each do |tweet|%>
<p><a href ="/tweets/<%=tweet.id%>"><%=tweet.content%> </a></p> 
<p>Posted by <%=tweet.user.username%></p>
<%end%>
