<form action="/signup" method="POST">
  <label>User Name: </label>
  <input id="user_name" type="text" name="username"><br>
  <label>Email: </label>
  <input id="user_email" type="email" name="email"><br>
  <label>Password: </label>
  <input id="user_password" type="password" name="password"><br>
  <input type="submit" value="Sign Up">
 </form> 