<h3>Sign Up for a Fwitter Account</h3>
<form action="/signup" method="post">
  <label>Username: </label>
  <input id="username" type="text" name="username">

  <br><label>Email: </label>
  <input id="email" type="email" name="email">

  <br><label>Password: </label>
  <input id="password" type="password" name="password">

  <br><br><input type="submit" name="" value="Create User">
</form>