<h2>Hello, please sign up</h2> 

<form action="/signup" method="POST">
<input type="text" name="username" placeholder="Username:">
<input type="text" name="email" placeholder="Email:">
<input type="text" name="password" placeholder="Password:">
<input type="submit" name="Sign Up">
  

</form>