<h1>Welcome to Fwitter</h1>

<form method="POST" action="/signup">

  Username: <input type="text" name="username">
  Email: <input type="text" name="email">
  Password: <input type="text" name="password">

  <button type="submit" value="submit">sign up</button>

</form>