<h1>Sign up</h1>
<form action="/signup" method="post">
  <p>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" autofocus>
  </p>
  <p>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
  </p>
  <p>
    <input class="btn btn-primary" type="submit" value="Create Account">
  </p>
</form>
