<h1>Your Fweets</h1>
<%current_user.tweets.all.each do |tweet|%>
<%=tweet.content%><br/>
<a href="tweets/<%=tweet.id%>/edit">Edit</a><br/>
<form action="/tweets/<%=tweet.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <button type="submit" value="delete">Delete Fweet</button>
</form><br><br/>
<%end%>

<a href="/tweets/new">New Fweet</a>
