<h1>Login</h1>
<form action="/login" method="post">
  <p>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </p>
  <input type="button" value="Log In" class="btn btn-primary">
</form>
