<h1>Welcome to Fwitter</h1>

<form method="POST" action="/login">

  Username: <input type="text" name="username">
  Password: <input type="text" name="password">

  <button type="submit" value="submit">log in</button>

</form>