<%= erb :'/layouts/_header' %>

<div class="main wrap">

  <h2><%= @user.username%> fweets: </h2>
  <hr>
  <% @user.tweets.each do |tweet| %>
    <div class="tweet wrap">
      <p>You said: <%= tweet.content %></p>
    </div>
  <% end %>

</div>

<%= erb :'/layouts/_footer' %>