<h1>Signup to Fwitter</h1>

<form action="/users" method="post">
  <label>Username:</label><br />
  <input type="text" name="user[username]" id="username"> <br /><br />

  <label>Email:</label><br />
  <input type="email" name="user[email]" id="email"><br /><br />

  <label>Password:</label><br/>
  <input type="password" name="user[password]" id="password"><br /><br />
  <input type="submit" value="submit">
</form>
