<%= erb :'/layouts/_header' %>

<div class="main wrap">

  <div class="main index">
    <h1>Welcome to Fwitter</h1>
    <hr>
    <p>We are phasing out twitter one fweet at a time</p>
  </div>
  
</div>

<%= erb :'/layouts/_footer' %>