<%= erb :'/layouts/_header' %>

<h1>Welcome to Fwitter</h1>
<hr>
<p>We are phasing out twitter one fweet at a time</p>

<h3><a href="/login">Click to Login</a></h3>
<h3><a href="/signup">Click to Signup</a></h3>

<%= erb :'/layouts/_footer' %>