<%= erb :'/layouts/_header' %>

<div class="main wrap">

  <h2>Login</h2>
  <form action="/login" method="POST">
    <h3>
      <input type="text" name="username" placeholder="Username:">  
    </h3>
    <h3>
      <input type="password" name="password" placeholder="Password:">  
    </h3>
    <button class="btn btn-default" type="submit" value="submit">Submit</button>
  </form>

</div>

<%= erb :'/layouts/_footer' %>