<h1>Welcome to Fwitter</h1>
<div class="btn-group">
  <a href="/signup"><button class="btn btn-primary">Sign Up</button></a>
  <a href="/login"><button class="btn btn-primary">Log In</button></a>
</div>
